{{> header }}
{{> leftmenu }}
{{> rightmenu }}
<div class="centered">
   <div class="box">
      <div class="boxhead"><span class="boxhead_titles"><i class="fa fa-envelope"></i> {{lang_contacts}}</span></div>
      <br />
      <div class="alert alert-warning text-center" role="alert">
         {{lang_contact_info}}
      </div>
      <hr/>
      <form method="post">
         <div class="form-group">
            <div class="input-group">
               <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-question-circle"></i></span>
               </div>
               <input type="text" name="your-question" placeholder="{{lang_your_question}}" class="form-control">
            </div>
         </div>
         <div class="form-group">
            <div class="input-group">
               <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
               <input type="text" name="your-name" placeholder="{{lang_your_name}}" class="form-control">
            </div>
         </div>
         <div class="form-group">
            <div class="input-group">
               <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-envelope"></i></span></div>
               <input type="email" name="your-email" placeholder="{{lang_your_email}}" class="form-control">
            </div>
         </div>
         <div class="form-group">
            <textarea class="form-control" rows="3" name="your-text" placeholder="{{lang_your_text}}"></textarea>
         </div>
         <div class="form-group">
            <div class="input-group">
               <img src="{{baseurl}}/includes/captcha/getimage.php" alt="" style="display:inline" />
               <input style="max-width:200px;display:inline" class="form-control" placeholder="Anti-bot" type="text" 
                  name="{{challenge_param_name}}" 
                  id="{{challenge_param_name}}" 
                  maxlength="{{challenge_string_len}}" 
                  size="{{challenge_string_len}}" 
                  />
            </div>
         </div>
         <input type="submit" class="btn btn-md btn-success" name="submit_contact" value="{{lang_send}}"/>
      </form>
      {{#submit_contact}}<br/>
      <div class="alert alert-{{submit_contact_alert}}"><i class="fa fa-{{submit_contact_ico}}"></i> {{submit_contact}}</div>
      {{/submit_contact}}
   </div>
   {{> ads_468x60}}
</div>
<div class="clearfix"></div>
{{> footer }}