{{> header }}
{{> leftmenu }}
{{> rightmenu }}
<div class="centered">
   <div class="box">
      <div class="boxhead"><span class="boxhead_titles"><i class="fa fa-server"></i> {{lang_gallery}}</span></div>
      {{#gallery_enable}}
      {{#allpictures}}
      <div style="float:left;margin:5px">
        <a class="see_with_magnific" href="{{baseurl}}/uploads/images/{{pic_link}}"><img src="{{baseurl}}/uploads/images/{{pic_link}}" width="160" height="120" alt=""/></a>
        <br/>
        <b>Дата:</b> {{pic_date}}<br/>
        <b>Качил:</b> {{pic_uploader}}
        </div>
        
        {{/allpictures}}
        <div class="clear clearfix"></div>
        
        {{&pagination_gallery}}
        {{&no_have_pics}}
        
        {{/gallery_enable}}
        {{^gallery_enable}}
        <br/>
        <div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> {{lang_gallery_temp_disabled}}</div>
        {{/gallery_enable}}
   </div>
   {{> ads_468x60}}
</div>
<div class="clearfix"></div>
{{> footer }}