{{> header }}
<div class="box">
   <div class="boxhead"><span class="boxhead_titles"><i class="fa fa-server"></i> {{lang_servers}}</span></div>
   <br />
   {{#servers_enable}}
   <div id="greyfish">
      <div style='text-align:center' class='greyfish-preload'>
      <b>Loading the servers...</b><br/>
      <img src='http://i.imgur.com/RZHrcPw.gif' alt=''/>
      </div>
      </div>
      <script>$("#greyfish").load( "greyfish/list.php", function( response, status, xhr ) {if(status == "complete") { $(".greyfish-preload").remove();}});</script>
   {{/servers_enable}}
   {{^servers_enable}}
   <br/>
   <div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> {{lang_servers_temp_disabled}}</div>
   {{/servers_enable}}
</div>
{{> ads_468x60}}
<div class="clearfix"></div>
{{> stats }}
{{> footer }}