{{> header }}
{{> leftmenu }}
{{> rightmenu }}
<div class="centered">
   <div class="box">
      <div class="boxhead"><span class="boxhead_titles"><i class="fa fa-server"></i> {{lang_upload_img}}</span></div>
      {{#img_upload_enable}}
      {{#is_logged}}
      <br/>
      <form action="includes/dropzone.php" class="dropzone"></form>
      {{/is_logged}}
      {{^is_logged}}
      <br/>
      <div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> {{lang_register_now}}</div>
      {{/is_logged}}
      {{/img_upload_enable}}
      {{^img_upload_enable}}
      <br/>
      <div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> {{lang_imgupload_temp_disabled}}</div>
      {{/img_upload_enable}}
   </div>
   {{> ads_468x60}}
</div>
<div class="clearfix"></div>
{{> footer }}