<!DOCTYPE html>
<html lang="en">
   <head>
      {{> meta }}
   </head>
   <body class="skin-red">
      {{> header }}
      {{> sidebar }}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
         <!-- Content Header (Page header) -->
         <section class="content-header">
            <h1>
               Редактиране на менюта
            </h1>
            <hr style="border-color:red"/>
            <div class='row'>
               <div class='col-md-12'>
                  <div class="box box-danger">
                     <div class="box-header with-border">
                        <h3 class="box-title">Редактиране на менютата</h3>
                     </div>
                     <div class="box-body">
                        <table class="table table-striped">
                           <tr>
                              <th>Име на менюто</th>
                              <th>Изтрий</th>
                           </tr>
                           {{#allmenus}}
                           <tr class="menu-{{menu_id}}">
                              <td><a class="venobox" data-type="iframe" href="ajax_served/edit_menus.php?id={{menu_id}}">{{menu_title}}</a></td>
                              <td><a href="ajax_served/remove_menu.php?id={{menu_id}}" class="delete_menu" data-mail="{{menu_id}}" style="color:red"><i class="fa fa-times"></i></a></td>
                           </tr>
                           {{/allmenus}}
                        </table>
                        {{&no_have_menus}}
                     </div>
                  </div>
               </div>
            </div>
            <ol class="breadcrumb">
               <li><a href="index.php"><i class="fa fa-dashboard"></i> Admin</a></li>
               <li class="active">Редактирай менюта</li>
            </ol>
         </section>
      </div>
      <!-- /.content-wrapper -->
      {{> footer }}