<!DOCTYPE html>
<html lang="en">
   <head>
      {{> meta }}
   </head>
   <body class="skin-red">
      {{> header }}
      {{> sidebar }}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
         <!-- Content Header (Page header) -->
         <section class="content-header">
            <h1>
               Редактиране на сървъри
            </h1>
            <hr style="border-color:red"/>
            <div class='row'>
               <div class='col-md-12'>
                  <div class="box box-danger">
                     <div class="box-header with-border">
                        <h3 class="box-title">Редактиране на сървърите от GreyFish</h3>
                     </div>
                     <div class="box-body">
                        <div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> Когато изтривате сървъри, моля рефрешнете тази страница, за да влязат промените в сила!</div>
                        <table class="table table-striped">
                           <tr>
                              <th>Име</th>
                              <th>IP</th>
                              <th>Карта</th>
                              <th>Игра</th>
                              <th>Изтрий</th>
                           </tr>
                           {{#allservers}}
                           <tr class="server-{{server_id}}">
                              <td><a class="venobox" data-type="iframe" href="ajax_served/edit_servers.php?id={{server_id}}">{{server_name}}</a></td>
                              <td>
                                 {{server_ip}}
                              </td>
                              <td>{{server_map}}</td>
                              <td>{{server_type}}</td>
                              <td><a href="ajax_served/remove_server.php?id={{server_id}}" class="delete_server" style="color:red"><i class="fa fa-times"></i></a></td>
                           </tr>
                           {{/allservers}}
                        </table>
                        {{&no_have_servers}}
                        {{&pagination_servers}}
                     </div>
                  </div>
               </div>
            </div>
            <ol class="breadcrumb">
               <li><a href="index.php"><i class="fa fa-dashboard"></i> Admin</a></li>
               <li class="active">Редактирай Сървъри</li>
            </ol>
         </section>
      </div>
      <!-- /.content-wrapper -->
      {{> footer }}