      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Обща информация
            <small>за системата</small>
          </h1>
		  <hr style="border-color:red"/>
		  
	    {{> admin_home}}
		  
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Admin</a></li>
            <li class="active">Начало</li>
          </ol>
        </section>

 
      </div><!-- /.content-wrapper -->